<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Landis.Library.AgeOnlyCohorts" version="2.1.0-rc2" targetFramework="net35" />
  <package id="Landis.Library.Biomass" version="1.0.0-rc2" targetFramework="net35" />
  <package id="Landis.Library.BiomassCohorts" version="1.3.0-rc2" targetFramework="net35" />
  <package id="Landis.Library.Parameters" version="1.0.0-rc1" targetFramework="net35" />
  <package id="Landis.Library.Succession" version="4.0.0-rc2" targetFramework="net35" />
</packages>